/* HEADER E FOOTER */
header, footer {
    background-color: green;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px; /* Espaçamento maior entre os botões */
}

header nav ul li button {
    padding: 10px 20px;
    background-color: white;
    color: green;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

header nav ul li button:hover {
    background-color: #004d00; /* Tom mais escuro no hover */
    color: white;
}

/* Botão de atualizar lista */
header .atualizar {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

header .atualizar:hover {
    background-color: orange;
}

/* Layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
